.page-main{
  margin-top: 40px;
  @media (max-width: 991px) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  @media (max-width: 768px) {
    padding-left: 0;
    padding-right: 0;
  }
  &:after{
    content: '';
    display: table;
    clear: both;
  }
}

.page-content{
  max-width: 74%;
  margin-right: 20px;
  padding: 25px;
  float: left;
  background-color: @white;
  @media (max-width: 1024px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  @media (max-width: 991px) {
    max-width: none;
    margin-right: 0;
  }
}