.side-nav,
.side-form,
.side-article-nav{
  background-color: fade(@white, 50);
  max-width: 25%;
  margin-left: auto;
  margin-bottom: 20px;
  .h3{
    margin: 0 0 10px;
    padding-top: 20px;
    font-weight: 700;
    text-align: center;
    color: fade(#525260, 70);
  }
}

.side-nav,
.side-article-nav{
  @media (max-width: 991px) {
    order: -1;
    max-width: 500px;
    margin-left: 0;
  }
  ul{
    line-height: normal;
    padding: 0;
    list-style-type: none;
  }
  li{
    padding: 10px 18px;
    &:hover{
      background-color: fade(@blue, 5);
    }
    &:last-child{
      padding-bottom: 14px;
    }
    &.active{
      background-color: @blue20;
      a{
        color: @grey-dark;
      }
    }
    li{
      position: relative;
      padding-top: 5px;
      padding-bottom: 5px !important;
      &:before{
        content: '\2022';
        position: absolute;
        left: 0;
      }
    }
  }
  a{
    font-size: 16px;
    padding: 10px 0;
    border: none;
  }
}


.side-form{
  padding: 0 18px;
  @media (max-width: 991px) {
    max-width: 450px;
    margin: 50px auto 0;
  }
  input{
    margin-bottom: 15px;
    &[type=submit]{
      margin-bottom: 40px;
    }
  }
  textarea{
    margin-bottom: 10px;
    height: 80px;
  }
}


.side-article-nav{
  @media (max-width: 991px) {
    display: none;
  }
  a{
    padding-bottom: 3px;
    border-bottom: 1px dashed;
  }
}