.contacts{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .fx-i{
    flex-basis: 245px;
    @media (max-width: 536px) {
      flex-basis: auto;
    }
  }
  .h3{
    margin-bottom: 0;
  }
  .border{
    margin-bottom: 50px;
    @media (min-width: 537px) {
      padding: 15px 20px 20px;
      border: 1px solid @grey-light50;
    }
    p:last-child{
      margin-bottom: 0;
    }
  }
}

.imgs{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  a{
    position: relative;
    display: flex;
    margin: 2px;
    border: none;
    @media (max-width: 530px) {
      flex-basis: 40%;
    }
    @media (max-width: 400px) {
      flex: 48%;
    }
    &:hover{
      &:before,
      &:after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      &:before{
        background-color: fade(@blue50, 50);
      }
      &:after{
        width: 43px;
        height: 40px;
        margin: auto;
        background-image: url(../img/loupe.svg);
      }
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
}

.contacts-map{
  height: 380px;
  margin: 40px -25px -25px;
  @media (max-width: 1024px) {
    margin-left: -15px;
    margin-right: -15px;
  }
  @media (max-width: 550px) {
    height: 250px;
  }
}