.site-footer{
  margin-top: 200px;
  color: @white;
  background-color: @footer40;
  @media (max-width: 768px) {
    margin-top: 50px;
  }
}

.flex{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 15px;
  @media (max-width: 930px) {
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    nav{
      flex-basis: 45%;
      &:nth-of-type(1){
        display: none;
      }
    }
  }
  nav{
    flex-basis: 33%;
    @media (max-width: 560px) {
      &:nth-of-type(2){
        display: none;
      }
    }
  }
  span{
    font-size: 18px;
  }
  ul{
    list-style-type: none;
    padding-left: 0;
    ul{
      li{
        position: relative;
        padding-left: 35px;
        &:before{
          content: '\2022';
          position: absolute;
          left: 0;
        }
      }
    }
  }
  a{
    color: @white;
    border: none;
    &:hover{
      color: #00ffff;
    }
  }
}

.footer__contacts{
  flex-basis: 23%;
  @media (max-width: 930px) {
    flex-basis: 45%;
  }
  @media (max-width: 560px) {
    flex-basis: 90%;
  }
  .btn{
    margin-top: 20px;
    color: @white;
    border-color: fade(@white, 50);
    @media (max-width: 560px) {
      margin-top: 0;
    }
    &:hover{
      border-color: @white;
    }
    &:active{
      background-color: @white;
      color: @grey-light;
    }
  }
}

.bottom-line{
  padding: 8px 0;
  color: #cacad8;
  background-color: @footer50;
  &:after{
    content: '';
    display: table;
    clear: both;
  }
  .fxw{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (min-width: 570px) {
      p{
        margin-bottom: 0;
      }
      br{
        display: none;
      }
    }
    @media (max-width: 920px) {
      flex-direction: column;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  span{
    font-size: 16px;
    text-align: center;
  }
  a{
    color: #00d8d8;
    border-bottom-color: inherit;
    &:hover{
      border: none;
    }
  }
}