.gallery-wrap{
  border: 1px solid fade(@grey-dark, 20);
  margin-bottom: 50px;
  p{
    text-align: center;
    font-style: italic;
  }
  button{
    position: relative;
    display: block;
    margin: 0 auto;
    padding: 15px;
    outline: 0;
    color: @grey;
    border: none;
    background-color: transparent;
    &:before,
    &:after{
      content: '';
      position: absolute;
      top: 94%;
    }
    &:before{
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #DCDCE2;
    }
    &:after{
      left: calc(~"50% - 14px");
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      border-top: 13px solid #DCDCE2;
    }
  }
}

.gallery-big-img{
  width: 100%;
}

.gallery-items{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 10px;
  a{
    position: relative;
    display: flex;
    margin: 3px;
    border: none;
    &:hover{
      &:before,
      &:after{
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
      &:before{
        background-color: fade(#535362, 50);
      }
      &:after{
        width: 43px;
        height: 40px;
        margin: auto;
        background-image: url(../img/loupe.svg);
      }
      img{
        opacity: 1;
      }
    }
  }
  img{
    max-width: 115px;
    width: 100%;
    opacity: .4;
    &.active{
      opacity: 1;
    }
  }
}