.site-header{
  background-size: 55%;
  background: #fff url(../img/brain.svg) 130% 30% no-repeat;
  background-size: 65%;
  img{
    max-width: 431px;
    width: 100%;
    border: none;
    padding: 5px 0;
  }
}

.top-line{
  padding: 10px 0;
  color: @white;
  text-align: right;
  background-color: fade(@blue-dark, 40);
  span + span{
    margin-left: 30px;
  }
  @media (min-width: 450px) {
    br{
      display: none;
    }
  }
}

.top-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  a{
    border: none;
  }
  nav{
    padding: 95px 0;
    @media (max-width: 1023px) {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: fade(@grey-dark, 90);
      a{
        color: @white;
      }
    }
    a{
      padding: 10px 10px 0;
      font-size: 20px;
      &:hover,
      &.active{
        border-bottom: 5px solid @red;
        color: @grey-dark;
      }
    }
  }
  span{
    position: relative;
    width: 30px;
    min-width: 30px;
    height: 20px;
    margin-left: 40px;
    cursor: pointer;
    @media (min-width: 1024px) {
      display: none;
    }
    &:before,
    &:after{
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      height: 4px;
      background-color: #000000;
    }
    &:after{
      bottom: 0;
      box-shadow: 0 -8px 0 #000;
    }
  }
  i{
    position: fixed;
    top: 82px;
    right: 20px;
    display: none;
    width: 30px;
    min-width: 30px;
    height: 30px;
    margin-left: 40px;
    cursor: pointer;
    z-index: 2;
    &:before,
    &:after{
      content: '';
      position: absolute;
      top: 13px;
      display: block;
      width: 100%;
      height: 4px;
      background-color: @grey-light;
    }
    &:before{
      transform: rotate(45deg);
    }
    &:after{
      transform: rotate(-45deg);
    }
  }
}