.first{
  background: url(../img/del/1.png) no-repeat center;
}

.first__item-wrap{
  background-image: -webkit-linear-gradient(left, @blue 0%, fade(@white, 0) 45%, fade(@white, 0) 65%, @blue 100%);
  @media (max-width: 991px) {
    background-image: none;
  }
}

.first__item{
  .wrap();
  padding-top: 60px;
  padding-bottom: 60px;
  form{
    max-width: 260px;
    padding: 30px 25px 40px;
    color: @white;
    background-image: linear-gradient(to left, fade(@white, 30), fade(@white, 0));
    @media (max-width: 991px) {
      background: @grey-light50 none;
    }
  }
  p{
    font-size: 20px;
    text-align: center;
  }
  input{
    font-size: 16px;
    color: @white;
    background-color: transparent;
    border-color: fade(@white, 50);
    + input{
      margin-top: 20px;
    }
    &:focus{
      color: @white;
    }
    &::placeholder{
      color: fade(@white, 50);
    }
  }
}




.index-content{
  .wrap();
  padding: 20px 50px 75px;
  background-color: @white;
  @media (max-width: 991px) {
    padding-left: 15px;
    padding-right: 15px;
  }
  .h2:before{
    content: '';
    display: table;
    clear: both;
  }
}

.survey{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.survey-item{
  display: flex;
  flex-basis: 50%;
  @media (max-width: 991px) {
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    img{
      margin-right: 0;
    }
  }
  @media (max-width: 600px) {
    flex-direction: row;
    flex-basis: 90%;
    align-items: flex-start;
    img{
      margin-right: 20px;
    }
  }
  @media (max-width: 450px) {
    flex-direction: column;
    align-items: center;
    img{
      margin: 0;
    }
  }
  img{
    margin-right: 27px;
    margin-bottom: 27px;
  }
  > a{
    border-bottom: none;
  }
  a{
    font-size: 18px;
  }
  ul{
    padding-left: 30px;
  }
  li{
    position: relative;
    list-style-type: none;
    &:before{
      content: '\2022';
      position: absolute;
      left: -15px;
    }
  }
}




.consultations{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.consultations-item{
  flex-basis: 50%;
  @media (max-width: 730px) {
    text-align: center;
    margin-bottom: 27px;
  }
  @media (max-width: 430px) {
    flex-basis: 100%;
  }
  a{
    font-size: 18px;
    &:first-of-type{
      border-bottom: none;
    }
  }
  img{
    float: left;
    margin-right: 27px;
    margin-bottom: 27px;
    @media (max-width: 730px) {
      float: none;
      display: block;
      margin: 0 auto 10px;
    }
  }
}