@white: #fff;
@black: #000;
@blue: #2692FF;
@blue20: fade(@blue, 20);
@blue50: fade(@blue, 50);
@blue-dark: #00468C;
@blue-light: #D9E6EB;
@red: #EB7070;
@grey: #646472;
@grey-dark: #313140;
@grey-dark50: fade(@grey-dark, 50);
@grey-light: #A8A8B7;
@grey-light50: fade(@grey-light, 50);
@footer40: fade(@grey-dark, 40%);
@footer50: fade(@grey-dark, 50%);



.wrap(@width: 1108px){
  max-width: @width + 30px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.wrap{
  .wrap();
}



.btn(){
  padding: 9px 20px;
  color: @grey;
  border: 2px solid @grey-light50;
  border-radius: 3px;
  background-color: transparent;
  &:hover{
    color: @blue;
    border-color: @blue50;
  }
  &:active{
    color: @white;
    background-color: @blue50;
  }
}

.btn{
  .btn();
}