.page-content.schedule{
  max-width: none;
  padding-bottom: 85px;
}
.schedule-wrap{
  overflow-x: auto;
  .table{
    min-width: 900px;
  }
}

.schedule-top,
.schedule-head{
  padding-left: 20px;
  padding-right: 20px;
}

.schedule-head{
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 26px;
}

.schedule-head-cell,
.schedule-item-cell{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  &:nth-child(n+2){
    width: 115px;
    height: 56px;
    padding: 3px;
  }
  &:nth-child(1){
    width: 166px;
  }
}

.schedule-head-cell{
  &:nth-child(n+2){
    color: @white;
  }
  &:nth-child(n+3){
    background-color: @blue-light;
  }
  &:nth-child(1){
    border: 1px solid @blue-light;
  }
  &:nth-child(2){
    background-color: @blue50;
  }
}




.schedule-item{
  padding: 20px;
  border: 1px solid @blue-light;
  font-size: 16px;
  + .schedule-item{
    margin-top: 15px;
  }
  .h3{
    text-indent: 19%;
  }
}

.schedule-item-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.schedule-item-cell{
  &.null{
    background-color: @blue-light;
  }
  &:not(.null):hover{
    border-color: @blue !important;
    cursor: pointer;
  }
  &:nth-child(n+3){
    border: 1px solid @blue-light;
  }
  &:nth-child(1){
    flex-direction: column;
    align-items: flex-start;
    a{
      font-size: 15px;
      border: none;
    }
    p{
      margin-bottom: 0;
      font-size: 14px;
      font-style: italic;
    }
  }
  &:not(.null):nth-child(2){
    border: 1px solid @blue50;
  }
}