.services-item{
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid @grey-light50;
  img{
    margin-right: 27px;
  }
  h2{
    margin-bottom: 10px;
  }
  dl{
    padding-left: 20px;
    padding-right: 10px;
  }
  dt{
    position: relative;
    max-width: 80%;
    z-index: 1;
  }
  dd{
    position: relative;
    margin-top: -1.5em;
    margin-left: 0;
    margin-bottom: 7px;
    border-bottom: 1px dotted #A5D2F5;
    text-align: right;
    &:before{
      content: '\2022';
      position: absolute;
      left: -15px;
    }
  }
  p{
    margin-bottom: 0;
    font-style: italic;
    a{
      font-style: normal;
    }
  }
}

.services-item-wrap{
  display: flex;
  align-items: flex-start;
  @media (max-width: 600px) {
    flex-direction: column;
    align-items: center;
    img{
      margin-right: 0;
    }
    .btn{
      margin-bottom: 7px;
    }
  }
}

.services-item-text{
  width: 100%;
  .btn{
    display: block;
    margin-left: auto;
  }
}

