.specialists-item{
  &.one{
    padding-bottom: 0;
    &:hover{
      border-color: @grey-light50;
    }
    @media (max-width: 400px) {
      padding: 10px;
    }
  }
  header{
    position: relative;
    &:after{
      content: '';
      display: table;
      clear: both;
    }
    .fxd{
      right: 0;
      bottom: 0;
    }
  }
  button{
    display: block;
    margin-left: auto;
  }
  .back{
    position: relative;
    display: table;
    margin: 0 auto;
    padding: 15px;
    outline: 0;
    color: @grey;
    border: none;
    text-align: center;
    &:before,
    &:after{
      content: '';
      position: absolute;
      top: 94%;
    }
    &:before{
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #DCDCE2;
    }
    &:after{
      left: calc(~"50% - 14px");
      border-left: 14px solid transparent;
      border-right: 14px solid transparent;
      border-top: 13px solid #DCDCE2;
    }
  }
}

.specialist-info{
  margin-top: 40px;
  &.wysiwyg{
    padding: 0;
  }
  h4{
    display: inline-block;
    margin-bottom: 25px !important;
    border-bottom: 2px solid #DEDEE4;
  }
}