.specialists-item{
  position: relative;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid @grey-light50;
  &:hover{
    border-color: @blue50;
  }
  &:after{
    content: '';
    display: table;
    clear: both;
  }
  @media (max-width: 685px) {
    .h2{
      font-size: 20px;
    }
    .h3{
      font-size: 16px;
    }
  }
  @media (max-width: 600px) {
    img{
      display: block;
      float: none;
      margin: 0 auto 10px;
    }
    .fxd{
      margin: auto;
      left: 0;
      right: 0;
      width: 82%;
    }
  }
  img{
    float: left;
    margin-right: 27px;
  }
  .h2,
  .h3{
    margin-bottom: 0;
  }
  .fxd{
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}

.experience{
  display: table;
  max-width: 40%;
  margin-top: 20px;
  margin-bottom: 0;
  font-style: italic;
  @media (max-width: 720px) {
    max-width: none;
    margin-bottom: 50px;
  }
}

.specialists-bottom{
  font-size: 18px;
  p:last-child{
    font-size: 20px;
  }
  strong{
    font-size: 20px;
  }
}