@import "../lib/magnific-popup/magnific-popup.css";
@import "base";
@import "mixins";



body{
  color: @grey-dark;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-image: url(../img/bg.jpg);
  background-size: cover;
}

a{
  color: @grey;
  text-decoration: none;
  border-bottom: 1px solid #cacad9;
  &:hover{
    color: @blue;
    border-bottom-color: inherit;
  }
}

p{
  margin-bottom: 27px;
}

ul{
  line-height: 2;
}

img{
  border: 1px solid fade(@grey-dark, 20);
}

input,
textarea{
  width: 100%;
  padding: 9px 15px;
  color: inherit;
  border: 2px solid @grey-light50;
  border-radius: 3px;
  background-color: transparent;
  &:hover{
    border-color: @blue50;
  }
  &[type=submit]{
    color: @blue50;
    border-color: @blue50;
  }
  &:focus{
    outline: 0;
    border-color: transparent;
    background-color: @blue20;
  }
}

::placeholder{
  color: @grey-dark50;
}



.h1,.h2,.h3,.h4,.h5,.h6{
  margin-bottom: 40px;
}

.h1{
  font-size: 36px;
  font-style: italic;
  @media (max-width: 991px) {
    font-size: 25px;
  }
}

.h2{
  font-size: 26px;
}

.h3{
  font-size: 20px;
}

.h4{
  font-size: 18px;
}

.h5{
  font-size: 16px;
}

.h6{
  font-size: 14px;
}


.img-left{
  max-width: 100%;
  float: left;
  margin-right: 27px;
  margin-bottom: 27px;
  @media (max-width: 768px) {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}

.img-right{
  max-width: 100%;
  float: right;
  margin-left: 27px;
  margin-bottom: 27px;
  @media (max-width: 768px) {
    display: block;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
}


.wysiwyg{
  padding: 25px 25px 25px 50px;
  ul{
    display: table;
    margin-bottom: 20px;
    padding: 0;
    list-style-type: none;
    ul{
      margin-bottom: 0;
    }
  }
  li{
    position: relative;
    padding-left: 30px;
    &:before{
      content: '\2022';
      position: absolute;
      left: 10px;
    }
  }
}
.page-content.wysiwyg{
  padding: 25px 25px 25px 50px;
  @media (max-width: 1024px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}


.top-summary{
  margin-bottom: 40px;
  padding: 30px 45px;
  border-top: 1px solid @blue50;
  border-bottom: 1px solid @blue50;
  font-style: italic;
  color: @black;
  @media (max-width: 550px) {
    padding: 15px;
  }
}



.popup{
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  justify-content: center;
  align-items: center;
  background-color: @grey-light50;
}

.popup-form{
  position: relative;
  max-width: 460px;
  padding: 30px;
  background-color: @white;
  box-shadow: 0 5px 30px fade(@black, 20);
  .h2{
    text-align: center;
  }
  p{
    margin-bottom: 0;
    + p {
      margin-top: 10px;
    }
  }
  input{
    display: block;
    max-width: 315px;
    margin: 20px auto 0;
    font-size: 18px;
    &[type=submit]{
      font-size: 20px;
      color: @grey-light;
      border: 2px solid @grey-light50;
      &:hover{
        color: @blue;
        border-color: @blue50;
      }
    }
  }
}

.close{
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  &:before,
  &:after{
    content: '';
    position: absolute;
    top: 12px;
    right: -2px;
    display: block;
    width: 30px;
    height: 2px;
    background-color: @blue50;
  }
  &:before{
    transform: rotate(45deg);
  }
  &:after{
    transform: rotate(-45deg);
  }
}



@import "header";
@import "index";
@import "about";
@import "specialists";
@import "specialist";
@import "gallery";
@import "contacts";
@import "services";
@import "article";
@import "schedule";

@import "aside";
@import "footer";